*

!*/

# Unignore all with extensions
!*.c
!*.h
*.skel.h
!*.cpp
!*.sh
!*.py
!*.png
!**/out/**
!Makefile

# Ignore virtual environment in pthread-sim
pthread-sim/.venv/
bpf-stuff/include
bpf-stuff/libbpf
bpf-stuff/vmlinux.h